/* template */
body {
    margin: auto;
    /* background-color: #ffff; */
    font-family: 'Lora', sans-serif;
}

a {
    text-decoration: none;
}

/*-------------------------------
BACK TO TOP
-------------------------------*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #aa6c39; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #fff; /* Add a dark-grey background on hover */
}

/*-------------------------------
CHAT FLOATING
-------------------------------*/
.wa-btn {
  position: fixed;
  left: 8%;
  bottom: 50px;
  color: #fff;
  background-color: #4fce5d;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
}

/* .wa-btn span {
  text-decoration: none;
} */

.wa-btn i {
  font-size: 40px;
  padding: 30px;
  background-color: #4fce5d;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 145px;
}

.wa-btn i span:hover {
  color: #231f20;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .wa-btn {
    background-color: transparent;
    right: 220px;
  }

  .wa-btn span {
    display: none;
  }

}

/*-------------------------------
HEADER
-------------------------------*/
#header img {
  width: 100px;
}

#header.fixed-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 40px;
    background: none;
    position: fixed;
    transition: background-color 0.3s ease;
}

#header.fixed-top.scrolled {
    background-color: #231f20 !important;
    transition: background-color 200ms linear;
    padding-bottom: 10px;
    top : 10px;
    margin: 0 20px 0 20px;
    border-radius: 20px;
}

@media (max-width: 992px) {
  #header img {
    width: 80px;
  }

  #header.fixed-top{
    background-color: #231f20;
    padding: 10px 10px 10px 30px;
  }

  #header.fixed-top.scrolled {
    top: 0;
    margin: 0;
    border-radius: 0;
  }
}

/*-------------------------------
NAVBAR
-------------------------------*/
.navbar {
    padding: 0;
  }
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 20px;
}
.navbar li {
    position: relative;
    text-decoration: none;
}
  
ul li.drp-hidden{
    display: none;
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  ul li.drp-hidden {
    display: inline-block;
  }  
}
  
.navbar > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}
.navbar a, .navbar a:focus {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #aa6c39;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #aa6c39;
    padding: 5px 2px;
}
.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #aa6c39;
    border: none;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #231f20;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #231f20;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.fa-xmark {
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: relative;
  top: 0;
  right: 0;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0C3B2E;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0C3B2E;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*-------------------------------
MASTHEAD
-------------------------------*/
#masthead {
    position: relative;
    text-align: center;
    padding: 15%;
    background-image: 
    linear-gradient(rgb(0, 0, 0, 70%), rgba(0, 0, 0, 80%)),
    url(/assets/img/ing1.jpg);
    background-size: cover;
    z-index: -2;
}
.aboutus-company .companypt-name {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #aa6c39; 
}
.aboutus-company .company-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4em;
    margin-top: 0;
    color: #fff; 
}

.tagline-company {
    padding-top: 30px;
    font-style: italic;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  #masthead {
    height: 500px;
    padding-top: 50%;
  }
  .aboutus-company .companypt-name {
    font-weight: 500;
    font-size: 13px;
  }

  .aboutus-company .company-name {
    padding-top: 10px;
    font-weight: 700;
    font-size: 2em;
  }

  .tagline-company {
    font-size: 10px;
  }
}

/* About-us */
#about {
    /* background-color: #2c4964; */
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 30px;
}

.about-top h3 {
    font-size: 35px;
    font-weight: 300;
    padding: 20px;
    margin-bottom: 0;
    font-family: "montserrat";
}

.about-top hr{
    width: 50%;
}

.about-span .overview {
    margin: 35px 50px 20px 50px;
}

.about-span .desc-overview {
    padding: 50px;
}

.desc-overview .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myCarousel {
    width: 40%;
}

#myCarousel img {
  height: 300px;
  border-radius: 50px;
}

.desc-overview .row .desc {
  width: 60%;
  font-size: 15px;
  font-family: 'Lora', sans-serif;
  color: #231f20;
  text-align: left;
}

.desc h2 {
  font-weight: 600;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .about-top h3 {
    font-size: 20px;
  }

  .about-span .desc-overview {
    padding: 30px;
  }

  .desc-overview .row {
    display: block;
  }

  .row #myCarousel {
    width: 100%;
  }

  .row #myCarousel img {
    height: 300px;
  }

  .desc-overview .row .desc {
    width: 100%;
  }
  .desc h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
  }

}
/* Visi Misi */
.vismis {
  background-color: #231f20;
  background-size: cover;
  padding: 15px 40px 50px 40px;
}

.top-vismis {
  display: flex;
  justify-content: space-between;
  color: #aa6c39;
  font-size: 18px;
  font-family: "montserrat", sans-serif;
  text-decoration: underline;
}

.vismis h2 {
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  padding: 10px 0 20px 0;
}

.span-vismis {
  display: flex;
  justify-content: space-around;
  padding: 10px 70px 0px 70px;
}

.span-vismis .vision {
  width: 50%;
}

.span-vismis .mission {
  width: 50%;
}

.span-vismis h2 {
  font-family: "Lora", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #aa6c39;
  font-weight: 600;
}

.span-vismis p {
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .vismis {
    margin: 0 20px 0 20px;
    border-radius: 50px;
    padding: 15px 30px 20px 30px;
  }
  .top-vismis {
    display: none;
  }
  .vismis h2 {
    font-size: 20px;
    font-weight: 800;
    padding: 30px 0 10px 0;
  }
  .span-vismis {
    display: block;
    padding: 10px;
  }
  .span-vismis .vision {
    width: 100%;
  }
  .span-vismis .mission {
    width: 100%;
  }
}

/* Products */
#products {
    margin: 0 30px 0 30px;
}

#products .product-title {
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    font-family: "montserrat", sans-serif;
    color: #231f20;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  #products {
    padding-top: 50px;
  }

  #products .product-title {
    display: none;
  }
}

/* product1 */
.span-product {
  margin: 0 50px 0 50px;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .span-product {
    margin: 0 30px 0 30px;
  } 
}

.span-product .product1-name {
  text-align: left;
  font-size: 35px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  color: #aa6c39;
  padding: 0 0 10px 40px;
}

.product1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

.header-product1 {
  padding: 20px 0 0 30px;
  width: 60%;
}

.product1 img {
  height: 150px;
}

.header-product1 .img-wrap {
  display: flex;
  flex-direction: row ;
  width: 100px;
  height: 100px;
}

.img-wrap img {
  border-radius: 30px;
  padding: 0 10px 0 10px;
}

.header-product1 #myCarousel img {
  display: none;
}

.header-product1 p {
  text-align: left;
  font-size: 14px;
  font-family: "Lora", sans-serif;
  font-weight: 500;
  color: #231f20;
  font-style: italic;
  padding: 70px 40px 0 0;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .product1 {
    display: inline-block;
  }
  .header-product1 {
    width: 100%;
  }
  .span-product .product1-name {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
  }
  .header-product1 .img-wrap {
    display: none;
  }

  .header-product1 #myCarousel {
    display: block;
    /* width: 100%;
    text-align: center; */
  }

  .header-product1 #myCarousel img {
    height: 300px;
  }

  .header-product1 p {
    padding: 20px 0 0 0;
  }
}

/* Coffe Product */
.coffe-product-span {
    width: 40%;
  }

.product1 .coffe-product {
    width: 90%;
    height: 70px;
    border-radius: 20px;
    background-color: #aa6c39;
    padding: 10px 0 10px 0;
    margin: 10px 0 0 0px;
  }

  .coffe-product h5 {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }

  .coffe-product p {
    padding: 0;
    font-size: 13px;
    font-family: "Lora", sans-serif;
    text-align: center;
    font-weight: 700;
    color: #231f20;
  }

  @media only screen and (min-width: 300px) and (max-width: 992px) {
  .coffe-product-span {
    width: 100%;
  }

  .product1 .coffe-product {
    width: 100%;
    height: 90px;
  }

  .coffe-product h5 {
    text-align: center;
  }

  .coffe-product p {
    padding: 0 10px;
  }
  
}

/* ingredients-coffe */
.product1-down {
  margin: 20px 40px 20px 40px;
}

.product1-down h2 {
  text-align: left;
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  color: #231f20;
  font-weight: 200;
  font-style: italic;
  padding-bottom: 10px;
}

.product1-down h2 strong {
  color: #231f20;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.product1-down .ingredients-coffe {
  padding: 10px;
  background-color: #aa6c39;
  margin: 0 10px;
  border-radius: 30px;
  padding: 15px 10px 8px 0;
}

.ingredients-coffe .list-ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.list-ingredients h3 {
  width: 30%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.list-ingredients i {
  width: 10%;
  text-align: left;
}

.list-ingredients p {
  width: 60%;
  font-family: "Lora", sans-serif;
  font-size: 13px;
  color: #231f20;
  font-weight: 200;
  text-align: left;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .product1-down {
    margin: 0;
    padding-top: 30px ;
  }

  .product1-down h2 strong {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
  }

  .product1-down .ingredients-coffe {
    background: none;
  }

  .ingredients-coffe .list-ingredients {
    display: inline-block;
  }

  .list-ingredients h3 {
    width: 100%;
    font-size: 20px;
    color: #aa6c39;
    font-weight: 600;
    text-align: center;
  }

  .list-ingredients i {
    display: none;
  }

  .list-ingredients p {
    width: 100%;
    text-align: center;
  }
}

/* products2 */
.product-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 10px 50px 10px;
  flex-direction: row-reverse;
}

.product-2 .img-product2 {
  width: 40%;
  text-align: center;
}

.product-2 .img-product2 img {
  border-radius: 30%;
  height: 300px;
}

.product-2 .desc-product2 {
  width: 60%;
  text-align: left;
  padding-left: 10%;
}

.product-2 .top-desc-p2 {
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #aa6c39;
  margin: 0;
  padding: 0;
}

.product-2 .product2-name {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: #aa6c39;
}

.product-2 .bottom-desc-p2 {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  color: #231f20;
  font-style: italic;
  padding-right: 40px;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .product-2 {
    display: block;
  }

  .product-2 .img-product2 {
    width: 100%;
  }

  .product-2 .desc-product2 {
    width: 100%;
    text-align: left;
  }

  .product-2 .top-desc-p2 {
    padding-top: 20px;
  }

}

/* footer */
#footer {
  background-color: #231f20;
  border-radius: 30px 30px 0 0;
  background-attachment: fixed;
  background-size: cover;
  margin: 40px 0 0 0;
}
#footer .container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.container .footer-contact {
  text-align: left;
  padding-bottom: 20px;
}
footer h3 {
  padding-top: 10px;
  font-family: "Lora", sans-serif;
  font-size: 25px;
  color: #aa6c39;
  font-weight: 600;
}
footer h4 {
  padding-top: 15px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
footer p {
  padding-top: 15px;
  color: #fff;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.container .location iframe {
  width: 100%;
  height: 200px;
}
.footer-contact .social-media i {
  color: #aa6c39;
}
.copyright {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  #footer {
    border-radius: 0;
  }
  #footer .container {
    display: block;
  }
  
}