@media only screen and (min-width: 300px) and (max-width: 992px) {
  #myBtn {
    font-size: 14px;
  }

  .wa-btn i {
    font-size: 25px;
  }

    #masthead {
    height: 500px;
    padding-top: 50%;
  }

  .about-span .overview {
    margin: 35px 30px 20px 30px;
}

.about-span .desc-overview {
    padding: 30px;
}

.desc-overview .row .desc {
    text-align: center;
  }

  .aboutus-company .companypt-name {
    font-weight: 500;
    font-size: 13px;
  }

  .aboutus-company .company-name {
    padding-top: 10px;
    font-weight: 700;
    font-size: 2em;
  }

  .tagline-company {
    font-size: 10px;
  }

  .about-top h3 {
    font-size: 20px;
  }

  .about-span .desc-overview {
    padding: 30px;
  }

  .desc-overview .row {
    display: block;
  }

  .row #myCarousel {
    width: 100%;
  }

  .row #myCarousel img {
    height: 300px;
  }

  .desc-overview .row .desc {
    width: 100%;
  }
  .desc h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
  }

  .vismis {
    margin: 0 20px 0 20px;
    border-radius: 50px;
    padding: 15px 30px 20px 30px;
  }
  .top-vismis {
    display: none;
  }
  .vismis h2 {
    font-size: 20px;
    font-weight: 800;
    padding: 30px 0 10px 0;
  }
  .span-vismis {
    display: block;
    padding: 10px;
  }
  .span-vismis .vision {
    width: 100%;
  }
  .span-vismis .mission {
    width: 100%;
  }

  .span-product {
    margin: 20px 40px 20px 40px;
  }

  .product1-down {
    margin: 0;
    padding-top: 30px ;
  }

  .typeofcoffee {
    flex-direction: column;
  }

  .typeofcoffee img {
    width: 60%;
    padding-bottom: 20px;
  }

  .typeofcoffee .right-wrap {
    padding-left: 0;
    text-align: center;   
  }

  .right-wrap p {
    font-size: 20px;
  }

  .span-top p {
    padding: 14px 20px 20px 20px;
    margin: 0;
}

.product1-down {
    margin: 30px;
    padding-top: 30px ;
  }

  .product1-down h2 strong {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
  }

  .typeofcoffee {
    padding: 30px 20px;
  }

  .right-wrap {
    font-size: 20px;
  }

  .right-wrap h3 {
    font-size: 20px;
  }

  .right-wrap p {
    font-size: 18px;
    margin: 0;
  }

  .card-body {
    flex-direction: column;
  }

  .card-body img {
    width: 100px;
    text-align: center;
  }
  .card-body p {
    padding-left: 0px;
  }

  .product-2 {
    display: block;
  }

  .product-2 .img-product2 {
    width: 100%;
  }

  .product-2 .desc-product2 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    
  }

  .product-2 .top-desc-p2 {
    padding: 20px 20px 0 20px;
  }

  .product-2 .bottom-desc-p2 {
    margin-top: 10px;
    padding: 0 20px;
  }

  .share {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-right: 0;
  }

  .share ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px 0;
    align-items: center;
  }

  ul li a {
    font-size: 25px;

  }

  #footer {
    border-radius: 0;
  }
  #footer .container {
    display: block;
  }

}